<% include ./partials/header %>
    <div class='main container'>
        <div class="row text-xs-center">
            <div class="col-md-6 pt-3">
                <p class="lead mt-2"><%= message %></p>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
